# 基于关系网络和Personal Rank 随机游走算法的欺诈分计算

![jupyter](./img/1.png)

### 0. 加载将要使用的包

In [1]:
import numpy as np
import pandas as pd

### 1. 初始化二维数组

In [19]:
N = []
for i in range(7):
    N.append([0]*7)

N = pd.DataFrame(N)

N.iloc[0, 1] = N.iloc[1, 0] = 0.58
N.iloc[0, 4] = N.iloc[4, 0] = 0.14
N.iloc[0, 6] = N.iloc[6, 0] = 0.94
N.iloc[3, 6] = N.iloc[6, 3] = 0.14
N.iloc[2, 1] = N.iloc[1, 2] = 0.14
N.iloc[5, 1] = N.iloc[1, 5] = 0.14
N.iloc[5, 2] = N.iloc[2, 5] = 0.14

### 2. 打印得到的二维数组

In [20]:
N

      0     1     2     3     4     5     6
0  0.00  0.58  0.00  0.00  0.14  0.00  0.94
1  0.58  0.00  0.14  0.00  0.00  0.14  0.00
2  0.00  0.14  0.00  0.00  0.00  0.14  0.00
3  0.00  0.00  0.00  0.00  0.00  0.00  0.14
4  0.14  0.00  0.00  0.00  0.00  0.00  0.00
5  0.00  0.14  0.14  0.00  0.00  0.00  0.00
6  0.94  0.00  0.00  0.14  0.00  0.00  0.00

### 3. 求图的转移概率矩阵
$p_i$点的转移概率为：
$\frac{w_{ij}}{degree(p_i)}$，其中$degree(p_i)$为%p_i%点的度数，是该点连接的所有边的权重之和：

In [31]:
P = N
for i in range(np.shape(N)[0]):
    sum_row = 0.0
    for j in range(np.shape(N)[1]):
        sum_row += N.iloc[i, j]
    for j in range(np.shape(N)[1]):
        P.iloc[i, j] = round(N.iloc[i, j]*100/sum_row)/100

### 4. 打印图的转移概率矩阵P

In [32]:
P

      0     1     2     3     4     5     6
0  0.00  0.35  0.00  0.00  0.08  0.00  0.57
1  0.68  0.00  0.16  0.00  0.00  0.16  0.00
2  0.00  0.50  0.00  0.00  0.00  0.50  0.00
3  0.00  0.00  0.00  0.00  0.00  0.00  1.00
4  1.00  0.00  0.00  0.00  0.00  0.00  0.00
5  0.00  0.50  0.50  0.00  0.00  0.00  0.00
6  0.87  0.00  0.00  0.13  0.00  0.00  0.00