In [1]:
import numpy as np
import pandas as pd

In [7]:
result_matrix = []
result_matrix.append(['0->10', 701, 4216])
result_matrix.append(['11->20', 241, 359])
result_matrix.append(['21->30', 74, 51])
result_matrix.append(['31->40', 39, 19])
result_matrix.append(['41->50', 24, 7])
result_matrix.append(['51->60', 16, 4])
result_matrix.append(['61->70', 9, 2])
result_matrix.append(['71->80', 10, 1])
result_matrix.append(['81->90', 5, 0])
result_matrix.append(['91->100', 6, 2])
result_matrix.append(['101->110', 1, 0])
result_matrix.append(['111->120', 1, 0])
result_matrix.append(['121->130', 1, 1])
result_matrix.append(['131->140', 3, 0])
result_matrix.append(['141->150', 4, 0])
result_matrix.append(['151->160', 1, 0])

result_matrix = pd.DataFrame(result_matrix, columns=['interval', 'nb_failed', 'nb_succeed'])
result_matrix['nb_total'] = result_matrix['nb_failed'] + result_matrix['nb_succeed']
result_matrix['success_rate'] = round(result_matrix['nb_succeed'] / result_matrix['nb_total']*1000)/1000
result_matrix

    interval  nb_failed  nb_succeed  nb_total  success_rate
0      0->10        701        4216      4917         0.857
1     11->20        241         359       600         0.598
2     21->30         74          51       125         0.408
3     31->40         39          19        58         0.328
4     41->50         24           7        31         0.226
5     51->60         16           4        20         0.200
6     61->70          9           2        11         0.182
7     71->80         10           1        11         0.091
8     81->90          5           0         5         0.000
9    91->100          6           2         8         0.250
10  101->110          1           0         1         0.000
11  111->120          1           0         1         0.000
12  121->130          1           1         2         0.500
13  131->140          3           0         3         0.000
14  141->150          4           0         4         0.000
15  151->160          1           0         1         0.000

    interval  nb_failed  nb_succeed  nb_total  success_rate
0      0->10        701        4216      4917         0.857
1     11->20        241         359       600         0.598
2     21->30         74          51       125         0.408
3     31->40         39          19        58         0.328
4     41->50         24           7        31         0.226
5     51->60         16           4        20         0.200
6     61->70          9           2        11         0.182
7     71->80         10           1        11         0.091
8     81->90          5           0         5         0.000
9    91->100          6           2         8         0.250
10  101->110          1           0         1         0.000
11  111->120          1           0         1         0.000
12  121->130          1           1         2         0.500
13  131->140          3           0         3         0.000
14  141->150          4           0         4         0.000
15  151->160          1           0         1         0.000